@media screen and (max-width:499px) {

   body {
      font-size: small;
      min-width: 200px;
 
   }
/**/
    body>section {
      min-width: 200px;
      
   } 

   .div- h2 {
      text-align: center;
   }

   header>nav {
      display: flex;
      flex-direction: column;
      margin-bottom: 1px;
      width: 90px;
      font-size: 9px;
      font-size: x-small;
   }

   .encabezado {
      width: 90px;
   }

   .div-con-background>.descrip {
      width: auto;
      height: 300px;
      padding: 3px;

   }

   header>.lacocina {
      font-size: 35px;
   }
.sucursales{
   
}
   .sucursales>div{
      display: flex;
      flex-direction: column;
    
   }
   .sucursales>.maps{
      width: 130px;
   }

}

/*------*/


body {
   font-family: Verdana, Geneva, Tahoma, sans-serif;


}

header {
   background-color: rgb(116, 58, 29);
   color: antiquewhite;
   margin-bottom: 20px;
   background-image: url(motivobien.png);
   background-repeat: repeat;
}

 /* nav */
.encabezado {
  
   color: antiquewhite;
   background-color: rgb(221, 162, 140);
   padding: 3px 5px 5px 5px;
   border-radius: 1px;
   position: relative;
   top: 8px;
   left: 10px;
   margin-bottom: 4px;
   text-align: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: medium;
   text-decoration: none;
}
/* titulo header*/
.lacocina {
   
   font-family: 'Caveat', cursive;
   font-family: 'Shadows Into Light', cursive;
   font-size: 60px;
   padding: 1px;
   font-weight: 400;

}

section {

   background-color: blanchedalmond;

}

/* inicio con recetas*/
.grid-container {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   justify-content: space-around;
}

.grid-item{
   display: grid;
   background-color: rgb(221, 162, 140);
   margin: 5px;
   width: 300px;
   height: auto; 
}

.descrip {
   width: 80%;   
   margin-left: 6%;
/* text-align: justify; */
}

/* boton receta*/
.receta {

   background-color: rgb(145, 51, 4);
   border-radius: 2px;
   color: antiquewhite;
   font-family: cursive;
   text-decoration: none;
   text-align: center;
   padding: 5px 5px;
   margin:6%;
   

 
}

.fondo {
   width: 100%;
   height: auto;

}

img {
   width: 90%;
   margin: auto;
   
   display: block;
 
}

.acercade {
   width: 50%;
  margin-bottom: 5px; 
  padding-bottom: 10px;
}

h1 {
   text-align: center;
}

h2 {
   padding: 5px;
   text-align: center;

}

h3 {
   margin-left: 20px;
}

h4 {
   text-align: left;
   margin-left: 20px;
}
p{margin: 10px;}

.maps {
   color: black;
}

.foto-receta {
   width: 50%;
   margin-bottom: 30px;
   ;
}

table {
   text-align: left;
   margin: 5%;
   margin-top: 5px;
   margin-bottom: 5px;
}

th {
   padding-right: 9px;
}

.cant {
   padding-right: 9px;
}

.contacto {
   color: black;
   background-color: none;
}

/*
  form{
   margin-left: 10px;
 }
 
form input[type="text"]{
 padding: 6px;
 margin: 3px;

}
 form input[type="number"]{
   padding: 6px;
   margin: 3px;
   }


 form input[type=submit]{
   background-color: rgb(221, 162, 140);
   border:none;
   padding: 5px 15px;
   margin-left: 100px;
   font-family:cursive;
   font-size: medium;
   border-radius: 1px;
   color: antiquewhite;
 }

 form input[type="date"]{
   padding: 6px;
 margin: 3px;
 
 }
 label {
   padding: 12px 12px 12px 0;
   display: inline-block;
 } */
footer {

   background-color: rgb(145, 51, 4);
   color: antiquewhite;
   text-align: center;
}
.sucursales{
   display: flex;
  justify-content: center;
}

.sucursales>div{
   display: inline;
    margin: 10px;
    background-color:rgb(221, 162, 140) ;
    padding: 9px;
    
}